@font-face {
  font-family: 'Geist';
  src: url('/fonts/geist/GeistVariable.woff2') format('woff2'),
       url('/fonts/geist/GeistVariable.woff') format('woff');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist Mono';
  src: url('/fonts/geist/GeistMonoVariable.woff2') format('woff2'),
       url('/fonts/geist/GeistMonoVariable.woff') format('woff');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}